.question-main {
    /* width: 70%; */
    height: auto;
    margin: auto;
    margin-top: 20px;
    background-color: transparent;
}

.circular-progress {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

